<div class="card">
    <div class="card-body">
        <h4 class="card-title">Forms</h4>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>FIRSTNAME</th>
                    <th>MIDDLENAME</th>
                    <th>LASTNAME</th>
                    <th>DOB</th>
                    <th>BLOODGROUP</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let f of forms">
                    <td>{{f._id}}</td>
                    <td>{{f.firstname}}</td>
                    <td>{{f.middlename}}</td>
                    <td>{{f.lastname}}</td>
                    <td>{{f.bloodgroup}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>